:focus {
    outline: 3px solid red;   
}

body {
	width: 100%;
	background-color: #FFAA3F;
	 
}

header {
	position: absolute;
	z-index:10;
	width: 100%;
	height: 170px;
}

.cabecera {
	position: absolute;
	width: 20%;
	z-index: 20;
	height: 170px;
	margin-left: 80%;
}




nav {
	margin-top: 171px;
    float: left;
}


section {
	clear: both;
}

.caja_section1 {
	width: 50%;
	float:right;
}


.caja_section2 {
	width: 70%;
	float:right;
}

.caja_section3 {
	width: 50%;
	float:right;
}

.caja_section4 {
	width: 90%;
	float:right;
}

h3 {
	font: bold 15px verdana, sans-serif;
    color: #333;
    margin: 10px 0;
    padding: 5px;
 }

footer {
	clear: both;
	
}

a {
	text-decoration: none;
}